<aside class="sidebar">
  <form action="" method="GET">
    <div class="form-group">
      <h3>Brends</h3>
      <hr />
    </div>
    <div class="form-group">
      <input type="checkbox" id="sram" name="sram" value="sram" />
      <label for="sram">SRAM</label>
    </div>
    <div class="form-group">
      <input type="checkbox" id="ebike" name="ebike" value="ebike" checked />
      <label for="brand2">Shimano</label>
    </div>
    <div class="form-group">
      <input type="checkbox" id="acid" name="acid" value="acid" />
      <label for="cestovniBicikl">Acid</label>
    </div>
    <div class="form-group">
      <input
        type="checkbox"
        id="djecji_bicikl"
        name="djecji_bicikl"
        value="djecji_bicikl"
      />
      <label for="avid">Avid</label>
    </div>
    <div class="form-group">
      <input type="checkbox" id="bosch" name="bosch" value="bosch" />
      <label for="avid">Bosch</label>
    </div>

    <div class="form-group">
      <h3>Category</h3>
      <hr />
    </div>
    <div class="form-group">
      <input type="checkbox" id="brand1" name="brand1" value="Trek" checked />
      <label for="brand1">Cijevi sijedala</label>
    </div>
    <div class="form-group">
      <input type="checkbox" id="brand2" name="brand2" value="Giant" />
      <label for="brand2">Sjedala</label>
    </div>
    <div class="form-group">
      <input type="checkbox" id="brand3" name="brand3" value="Norco" />
      <label for="brand2">Volani</label>
    </div>
    <div class="form-group">
      <input type="checkbox" id="brand4" name="brand4" value="Santa Cruz" />
      <label for="brand2">Kotači</label>
    </div>
    <div class="form-group">
      <input type="checkbox" id="brand4" name="brand5" value="Polygon" />
      <label for="brand2">Pedale</label>
    </div>
    <div class="form-group">
      <input type="checkbox" id="brand4" name="brand5" value="Polygon" />
      <label for="brand2">Lanci</label>
    </div>
    <div class="form-group">
      <input type="checkbox" id="brand4" name="brand5" value="Polygon" />
      <label for="brand2">Vilice i Amortizeri</label>
    </div>
    <div class="form-group">
      <input type="checkbox" id="brand4" name="brand5" value="Polygon" />
      <label for="brand2">Kočnice</label>
    </div>
    <div class="form-group">
      <input type="checkbox" id="brand4" name="brand5" value="Polygon" />
      <label for="brand2">Glavičine</label>
    </div>
    <div class="form-group">
      <input type="checkbox" id="brand4" name="brand5" value="Polygon" />
      <label for="brand2">Zračnice</label>
    </div>

    <div class="form-group">
      <h3>Price:</h3>
      <hr />
    </div>
    <div class="price-box">
      <p>Please select your price:</p>
      <input type="radio" id="price1" name="price" value="100" />
      <label for="price1">0 - 100 € </label><br />
      <input type="radio" id="price2" name="price" value="500" />
      <label for="price2">0 - 500 €</label><br />
      <input type="radio" id="price3" name="price" value="1000" />
      <label for="price3">0 - 1000 €</label><br />
      <input
        type="range"
        id="price"
        name="price"
        min="100"
        max="5000"
        value="0"
        step="10"
      /><br /><br />

      <p>Value: <output id="value"></output> €</p>
    </div>
  </form>
</aside>
