<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <link rel="stylesheet" href="../css/styles.css" />
  </head>

  <body>
    <header>
      <div class="top-row">
        <div class="contact-info">
          <div class="contact-group">
            <span class="icon"><i class="fa-solid fa-envelope"></i></span>
            <span class="contact-text">info@outdoorbike-shop.hr</span>
          </div>
          <div class="contact-group">
            <span class="icon"><i class="fa-solid fa-phone"></i></span>
            <span class="contact-text">123-456-7890</span>
          </div>
        </div>
        <div class="social-icons">
          <span class="icon"><i class="fa-brands fa-facebook-f"></i></span>
          <span class="icon"><i class="fa-brands fa-twitter"></i></span>
        </div>
        <div class="search-bar">
          <input type="text" placeholder="Search..." />
          <button type="submit">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
      <div class="bottom-row">
        <div class="logo">
          <img src="../images/logo14.png" alt="Logo" />
        </div>
        <nav>
          <ul>
            <li><a href="/partials/asideProduct.html">Bicikli</a></li>
            <li><a href="#">Dijelovi</a></li>
            <li><a href="#">Dodatna Oprema</a></li>
            <li><a href="#">Akcija</a></li>
            <li><a href="#">Blog</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <!-- SIDEBAR -->
    <h3>Home / <strong>Bicikli</strong></h3>
    <div class="container">
      <aside class="sidebar">
        <form action="" method="GET">
          <h3>Brends :</h3>
          <br />
          <hr />
          <div class="form-group">
            <input type="checkbox" id="brand1" name="brand1" value="Trek" />
            <label for="brand1">Trek</label>
          </div>
          <div class="form-group">
            <input type="checkbox" id="brand2" name="brand2" value="Giant" />
            <label for="brand2">Gaint</label>
          </div>
          <div class="form-group">
            <input type="checkbox" id="brand3" name="brand3" value="Norco" />
            <label for="brand2">Norco</label>
          </div>
          <br />
          <h3>Price:</h3>
          <br />
          <hr />
          <br />
          <div class="price-box">
            <p>Please select your price:</p>
            <br />
            <input type="radio" id="price1" name="price" value="100" />
            <label for="price1">0 - 100 € </label><br />
            <input type="radio" id="price2" name="price" value="500" />
            <label for="price2">0 - 500 €</label><br />
            <input type="radio" id="price3" name="price" value="1000" />
            <label for="price3">0 - 1000 €</label><br />
            <input
              type="range"
              id="price"
              name="price"
              min="100"
              max="5000"
              value="0"
              step="10"
            /><br /><br />

            <p>Value: <output id="value"></output> €</p>
          </div>
        </form>
      </aside>

      <div class="product-card">
        <div class="product-image">
          <img src="../images/fuel-ex-8.webp" alt="Product Image" />
        </div>
        <div class="product-info product-info-background">
          <div class="product-titile">
            TREK Fuel EXe 9.7 2023 Matte Pennyflake
          </div>
          <div class="product-price">€190.99</div>
          <div class="product-description">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab fugit
            quisquam repellendus? Dolore, illo eveniet. Est odit, officia vel
            hic eligendi repellendus possimus soluta perspiciatis rem itaque
            dignissimos laudantium debitis neque ab iusto vitae atque veniam ad
            fugiat consequatur magni tempore impedit. Reiciendis harum
            blanditiis earum, mollitia provident autem sunt.
          </div>
          <div class="bottom-card">
            <button value="submit" class="button">Dodaj u Košaricu</button>

            <button class="button">
              <a href="#modal-box">Detalji proizvoda</a>
            </button>
          </div>
        </div>
      </div>

      <!--MODAL WINDOWS FOR DETAILS OF PRODUCTS -->
      <div id="modal-box" class="modal">
        <div class="modal-content">
          <div class="modal-left">
            <div class="modal-text">Model: TREK Fuel EX 8 2023</div>
            <img
              src="../images/fuel-ex-8.webp"
              alt="Main Prodcut Image"
              class="modal-main-image"
            />

            <div class="modal-image-gallery">
              <img src="../images/fuel-ex-8(1).webp" alt="fulex-ex-8" />
              <img src="../images/fuel-ex-8(2).webp" alt="fulex-ex-8" />
              <img src="../images/fuel-ex-8(3).webp" alt="fulex-ex-8" />
            </div>
            <p>
              * Podaci navedeni na ovoj stranici su informativne prirode i nisu
              obvezujući. Slike ne moraju odgovarati točno proizvodu na
              stranici, svi podaci su podložni promjeni bez prethodne najave.
            </p>
          </div>

          <div class="modal-right">
            <h3 class="modal-product-title">
              TREK Fuel EXe 8.0 2023 Matte Pennyflake
              <span class="modal-star-rating"> ★★★★☆</span> (0)
            </h3>
            <div class="modal-product-price">
              <strong>Price:</strong> 2100 €
            </div>

            <div class="modal-availability">
              <span><i class="fa-solid fa-warehouse"></i></span> Availability: U
              WEBSHOPU
            </div>
            <div class="modal-prodcut-code">Product Code: 90622-5056</div>
            <div class="modal-product-size">
              <h3>Velicina</h3>
              <p>Odaberi velicinu</p>
              <br />
              <button class="velicina-bicikle"><a href="">S-27.5"</a></button>
              <button class="velicina-bicikle"><a href="">XS-27.5"</a></button>
              <button class="velicina-bicikle"><a href="">S</a></button>
              <button class="velicina-bicikle"><a href="">M</a></button>
              <button class="velicina-bicikle"><a href="">M/L</a></button>
              <button class="velicina-bicikle"><a href="">L</a></button>
              <button class="velicina-bicikle"><a href="">XL</a></button>
            </div>

            <div class="quantity-selector">
              <button class="quantity-btn" id="decrement">-</button>
              <input
                id="quantity-input"
                class="quantity-input"
                value="1"
                min="1"
              />
              <button class="quantity-btn" id="increase">+</button>
            </div>

            <button class="btn btn-background" id="btn-modal">
              <i class="fas fa-shopping-cart"></i> Dodaj u košaricu
            </button>
          </div>

          <a href="#" class="modal-close">&times;</a>
        </div>
      </div>

      <!--DRUGI PRODUCT DODAN HTML-->

      <div class="product-card">
        <div class="product-image">
          <img
            src="../images/fuel-ex-9-7-gen-6-2023-crimson-35843-16710499036144-o.webp"
            alt="Product Image"
          />
        </div>

        <div class="product-info product-info-background">
          <div class="product-titile">
            TREK Fuel EXe 9.7 2023 Matte Pennyflake
          </div>

          <div class="product-price">€190.99</div>

          <div class="product-description">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque
            in quam totam repudiandae nam eveniet et dolor temporibus officiis
            aspernatur?
          </div>
          <div class="bottom-card">
            <button value="submit" class="button">Dodaj u Košaricu</button>
            <button class="button">
              <a href="#modal-box">Detalji proizvoda</a>
            </button>
          </div>
        </div>
      </div>

      <!--TRECI PRODUCT DODAN HTML-->
      <div class="product-card">
        <div class="product-image">
          <img
            src="../images/fuel-ex-7-2022-black-red-29979-0-16620690513769-o.webp"
            alt="Product Image"
          />
        </div>
        <div class="product-info product-info-background">
          <div class="product-titile">
            TREK Fuel EXe 9.7 2023 Matte Pennyflake
          </div>
          <div class="product-price">€190.99</div>
          <div class="product-description">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque
            in quam totam repudiandae nam eveniet et dolor temporibus officiis
            aspernatur?
          </div>
          <div class="bottom-card">
            <button value="submit" class="button">Dodaj u Košaricu</button>
            <button class="button">
              <a href="#modal-box">Detalji proizvoda</a>
            </button>
          </div>
        </div>
      </div>
      <div class="product-card">
        <div class="product-image">
          <img
            src="../images/fuel-ex-7-2022-black-red-29979-0-16620690513769-o.webp"
            alt="Product Image"
          />
        </div>
        <div class="product-info product-info-background">
          <div class="product-titile">
            TREK Fuel EXe 9.7 2023 Matte Pennyflake
          </div>
          <div class="product-price">€190.99</div>
          <div class="product-description">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque
            in quam totam repudiandae nam eveniet et dolor temporibus officiis
            aspernatur?
          </div>
          <div class="bottom-card">
            <button value="submit" class="button">
              <i class="fas fa-shopping-cart"></i>Dodaj u Košaricu
            </button>
            <button class="button">
              <a href="#modal-box">Detalji proizvoda</a>
            </button>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <div class="footer-row">
        <div class="footer-column">
          <h3>Quick Links</h3>
          <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Bicikli</a></li>
            <li><a href="">Doatna oprema</a></li>
            <li><a href="">Dijelovi</a></li>
          </ul>
        </div>
        <div class="footer-column">
          <h3>About Company</h3>
          <p>
            Bike shop OUTDOOR specijalizirana je trgovina za bicikle i
            biciklističku opremu, koja svoje poslovnice ima u Šibeniku, Đakovu i
            Našicama. Kod nas možete pronaći veliki izbor gradskih, brdskih,
            trkačih i dječjih bicikala po pristupačnim cijenama. Uz kupnju u
            trgovinama, moguće je kupovati i u našem web shopu. Svakoga mjeseca
            nudimo brojne akcije, gdje možete pronaći veliki broj bicikala po
            akcijskim cijenama. Osim same prodaje nudimo uslugu velikog i malog
            servisa na vašim biciklima te također otklanjanje kvarova i zamjenu
            neispravnih dijelova.
          </p>
        </div>
        <div class="footer-column">
          <h3>Find Us</h3>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11528.212860770936!2d15.8823767!3d43.7509917!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x13352f4eeb7a8057%3A0x361615fbb2fbb0ad!2sILJADICA-RAPO%20d.o.o.!5e0!3m2!1shr!2shr!4v1704699202532!5m2!1shr!2shr"
            width="300"
            height="200"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>

      <div class="footer-row">
        <div class="footer-column">
          <h3>Delivery</h3>
          <p>Information about shipping and delivery services</p>
          <ul>
            <li>Express/GLS</li>
            <li>Dostava u poslovnicu</li>
          </ul>
        </div>
        <div class="footer-column">
          <h3>Contact Information</h3>

          <ul>
            <li><a href="">OUTDOORSHOP.HR</a></li>
            <li><a href="">ADRESA: Šibenska 2A, 22000 Šibenik</a></li>
            <li><a href="">TELEFON: +385 99 1111-211</a></li>
            <li><a href="">EMAIL: info@outdoorbike-shop.hr</a></li>
          </ul>
          <img src="../images/logo14.png" alt="" height="100" width="200" />
        </div>
        <div class="footer-column">
          <h3>From the Blog</h3>
          <ul>
            <li><a href="">Trek ima novi električni bicikl za 2024!</a></li>
            <li><a href="">Kako odabrati prvi bicikl za dijete ?</a></li>
            <li><a href="">Što je tubeless i kako ga koristiti</a></li>
            <li><a href="">Kaciga je odsad obvezna i na romobilu</a></li>
            <li><a href="">Cube najbolji omjer cijene i kvalitete</a></li>
          </ul>
        </div>
      </div>
      <div class="footer-row">
        <div class="footer-column">
          <h3 class="social-icons social-icons-heading">Pratite nas:</h3>
          <ul class="social-icons">
            <li><a href=""></a><i class="fa-brands fa-instagram"></i></li>
            <li><a href=""></a><i class="fa-brands fa-twitter"></i></li>
            <li><a href=""></a><i class="fa-brands fa-facebook"></i></li>
            <li><a href=""></a><i class="fa-brands fa-linkedin"></i></li>
          </ul>
          <h3 class="owner">Stranicu izradio MJ Studio</h3>
        </div>
      </div>
    </footer>

    <script>
      const value = document.querySelector("#value");
      const input = document.querySelector("#price");
      value.textContent = input.value;
      input.addEventListener("input", (event) => {
        value.textContent = event.target.value;
      });

      document
        .getElementById("increase")
        .addEventListener("click", function () {
          var quantityInput = document.getElementById("quantity-input");
          var currentValue = parseInt(quantityInput.value, 10);
          quantityInput.value = currentValue + 1;
        });

      document
        .getElementById("decrement")
        .addEventListener("click", function () {
          var quantityInput = document.getElementById("quantity-input");
          var currentValue = parseInt(quantityInput.value, 10);
          if (currentValue > 1) {
            quantityInput.value = currentValue - 1;
          }
        });
    </script>
  </body>
</html>
