/* Header styles */
header {
  background-color: #f1f1f1;
  padding: 10px;
}

/* Top row */
.top-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.contact-group {
  display: flex;
  align-items: center;
  padding-left: 0.7em;
}

.contact-text {
  margin-left: 5px;
}
.social-icons {
  display: flex;
  justify-content: flex-end;
}

.icon {
  margin-right: 2px;
}

.search-bar {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.search-bar input {
  width: 200px;
  padding: 3px;
}

.search-bar button {
  padding: 4px;
  background-color: transparent;
  border: none;
}

/* Bottom row */
.bottom-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.logo img {
  height: 70px;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-right: 2px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
  font-weight: 700;
}

.search-bar input[type="text"] {
  box-shadow: 5px 2px 18px 1px #4e6945;
  outline: none;
  border: none;
  padding-left: 1rem;
}

.contact-text {
  font-size: 14px;
  padding-bottom: 5px;
}

.contact-group i {
  font-size: 20px;
  color: #4b6954;
  padding-top: 10px;
}

.social-icons i {
  font-size: 20px;
  padding-right: 10px;
  color: #4b6954;
  padding-top: 10px;
}

.contact-group i:hover {
  color: orangered;
}

.social-icons i:hover {
  color: orangered;
}
