@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("header.css");
@import url("footer.css");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

.cover {
  display: flex;
  width: 100%;
  position: relative;
}

.cover img {
  height: 80vh;
  object-fit: cover;
  background-position: center;
  width: 100%;
}

.cover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(
    54,
    54,
    54,
    0.7
  ); /* Adjust the color and transparency here */
}

.text-box {
  position: absolute;
  left: 20%;
  top: 43%;
}

.heading-primary {
  color: #d8dfd5;
  font-size: 10px;
  font-weight: 700;
  padding-bottom: 60px;
  text-transform: uppercase;
}

.heading-primary-main {
  display: block;
  font-size: 80px;
  letter-spacing: 8.4px;
  padding-bottom: 20px;
  font-weight: 700;
  font-family: "Prompt", sans-serif;
}

.heading-primary-sub {
  display: inline-block;
  font-size: 30px;
  font-weight: 200;
  letter-spacing: 14.4px;
  font-family: "Rajdhani", sans-serif;
}

.btn:link,
.btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 13px 20px;
  transition: all 0.2s;
  bottom: 20px;
  font-size: 14px;
}

.btn:hover {
  transform: translateX(-3px);
  box-shadow: 0 5px 20px rgba(247, 247, 247, 0.2);
}

.btn:active {
  transform: translateY(-1px);
}

.btn-white {
  background-color: #739b73;
  color: rgb(255, 255, 255);
}

.newsletter-page {
  background-color: rgb(224, 220, 220);
  display: flex;
  justify-content: center;
}

.newsletter-image {
  display: flex;
  width: 700px;
  height: 500px;
}

.newsletter-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.newsletter-text {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-self: center;
  align-items: center;
  padding: 2rem;
}
